@font-face {
    font-family: "Digital Numbers Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Digital Numbers Regular"), url("DigitalNumbers-Regular.woff") format("woff");
}

@font-face {
    font-family: 'canonregular';
    src: url('canon-webfont.woff2') format('woff2'),
        url('canon-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 1px solid black;
    width: 500px;
    height: auto;
    padding: 5rem 0 3rem;
}

.display-wrapper {
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-result-container {
    width: 400px;
    height: 100px;
    outline: 1px solid black;
    font-family: 'Digital Numbers Regular', sans-serif;
    text-align: end;
    font-size: 30px;
}

.display-current {
    align-self: flex-end;
    width: 200px;
    height: 50px;
    outline: 1px solid black;
}

.btns-wrapper {
    outline: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    width: 400px;
    height: auto;
    gap: 20px;
}

.btn {
    width: 80px;
    height: 70px;
}